@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,300&display=swap');

.Login-button {
    background: linear-gradient(to right, #5234b3,#03a9f4);
}

.Login-button:hover {
    background: linear-gradient(to   right, #8138f6ad, #03a8f4ab);
}


h2, p {
    font-family: 'Poppins', sans-serif;
}


a:hover {
    color: #1445e8;
}